@model UserModel
<div>
    @Model.Role.Name
</div>

<div>
    <h1>
        Мой профиль
    </h1>
    <h2>
        @Model.Login
    </h2>
</div>
    

<a>
   
    Ваше имя
   @Model.Name
    @Model.Surname

</a>
