@{
    ViewData["Title"] = "О туре";
}

<div class="text-center">
    <label>
        Здравствуйте все пользователи, которые посетили мой сайт, меня зовут Кирилл,
        хочу поделиться с вами о своем не большом туре, совершенном на мотоцикле Honda CL 400 в 2017 г.
        Отправная точка была город Анапа, куда я прибыл на самолете и довольный с аэропорта поехал встречать свои мотоцикл и вещи.
        В этом же городе и было выбрано место для первой ночевки в кемпинги.
        Обустроенным на первой береговой линей, что давало возможность снять усталость искупавшись в море, чем я и воспользовался.
    </label>
    <img src="~/Images/о тур/1.jpeg" width="634" height="475" />

    <label>
        С раннего утра набравшись сил и позавтракав я направился по простроенному маршруту в сторону Крыма,
        на сегодня была задача преодолеть Керченский пролив по новому мосту, который был не так давно открыт.
        После обеденного времени я попал в пробку при съезди с моста, но благодаря не большим габаритам и манёвренности мотоцикла удалось ее объехать ее.
        Довольным тем что я выбрался из стоячего потока машин, открыв ручку газа до упора отправился к ближайшему кофе у дороги, для перекуса.
        Где был проведен осмотр мотоцикла, и выявлена первая и последняя поломка. Благо неподалеку располагалась конюшня,
        в которой добрый конюх мне выпилил металлическую пластину, игравшую роль фиксатора положения натяжителя.
    </label>
    <img src="~/Images/о тур/2.jpeg" width="634" height="475" />

    <label>
        Дальнейшее направление было в сторону побережья, вскоре я преодолевал серпантин не больших горах,
        при заходе солнца, так как потерял много времени с поломкой. Увидев берег было решено ночевать на нем.
    </label>
    <img src="~/Images/о тур/3.jpeg" width="634" height="475" />

    <label>
        Утром встав, я узнал, где нахожусь, оказался это поселок Приморское.
        А следующая моя отмеченная точка прибытия была город Ялта, что находился в 177 км от меня.
        Собрав свои вещи и подкрепившись, я выдвинулся.
        Моя дорога проходила через горы, где повороты, спуски и подъемы не уступали американским горкам.
        Особенно удивляла ширина дороги и стиль вождения местных людей, что не поддавалось уму.
        С какой скоростью и точностью они пролетали данные участки дорог.
    </label>
    <img src="~/Images/о тур/4.jpg" width="634" height="475" />

    <label>
        Казалось, столь не большое расстояние нужно пройти, но по времени оно затянулось, и в Ялту приехал только после полудня.
        Где ждали меня уже мои обустроившиеся родственники. Не сильно уставший, но заряженный видами и острыми ощущениями от дороги, перекусив и сходив в душ.
        Отправился на прогулку по набережной Ялты. Так закончился мой 2 день поездки.
        На след день сняв с мотоцикла все лишние вещи было решено съездить в поселок Краснокаменку которое находилось неподалеку,
        где виды, открывавшиеся с него на «Медведь-гору» (Аю-Даг) были прекрасны.
    </label>
    <img src="~/Images/о тур/5.jpeg" width="634" height="475" />

    <label>
        Там же находились виноградные поля, на которых не удержавшись был испробован виноград.
    </label>
    <img src="~/Images/о тур/6.jpeg" width="634" height="475" />

    <div>
        <label>
            Ялта не отпускала меня, и я там остался на 4 дня, но в один из дней решил, что надо двигаться дальше увидеть больше мест.
            И выбрал на карте точку под Севастополем, под названием мыс Фиолент.
            Дорога туда была уже была более спокойная, но все же местами захватывающая.
            Выехав утром к обеду, я был там и когда я оказался на конечной остановки под названием «Старый маяк» которая ведет до мыса,
            дух захватило от высоты и всей той увиденной красоты, и я понял, что это место затянет меня на долго.
        </label>

        <label>
            С этой точки я исследовал округи, и заплутал в город Инкерман, в котором находилась очень простая, но уютную бухта.
        </label>

        <label>
            Вот и прошло около недели моего пребывания на мысу Фиолент, и дальше мне хотелось побывать в Николаевки (бывший казантип).
            Добрался я туда быстро, не далеко от берега располагался сосновый лес, где и разбил лагерь.
        </label>
    </div>

    @* 0,749211356466877 *@
    <div class="text-center">
        <form>
            <div class="slider">

                <input type="radio" name="slide_switch" id="id1" checked /> @*Выбранная по дефолту*@
                <label for="id1">
                    <img src="~/Images/о тур/7.jpeg" width="100" />
                </label>
                <img src="~/Images/о тур/7.jpeg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id2" checked="checked" />
                <label for="id2">
                    <img src="~/Images/о тур/8.jpeg" width="100" />
                </label>
                <img src="~/Images/о тур/8.jpeg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id3" />
                <label for="id3">
                    <img src="~/Images/о тур/9.jpeg" width="100"  />
                </label>
                <img src="~/Images/о тур/9.jpeg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id4" />
                <label for="id4">
                    <img src="~/Images/доп/wEfhl8sTlIM.jpg" width="100" />
                </label>
                <img src="~/Images/доп/wEfhl8sTlIM.jpg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id5" />
                <label for="id5">
                    <img src="~/Images/доп/dostoprimechatelnosti-ink_1436276271.jpg" width="100" />
                </label>
                <img src="~/Images/доп/dostoprimechatelnosti-ink_1436276271.jpg" width="634" />
            </div>
        </form>

    </div>


    <label>
        Но море уже здесь было не такое теплое и чистое, в этом месте я остался на ночь.
        Поняв, что больше в Крыму меня не интересует ничего, следующая остановка была Архипо-Осиповка (Краснодарский край), расстояние не мало не много 542 км.
        Дорога шла уже по равнине, на прямую через Крым, выехав рано утром, я даже не мог подумать, что придется доставать теплые вещи так как солнце еще не встало,
        а дул хороший ветер. Ближе к обеду я скинул все вещи и остался в шортах и футболки с длинным рукавом. До моста через Керченский пролив была самая шикарная дорога,
        на ней я крутил свои мотик чуть ли не до отсечки. Шел приличные 160 км/ч., в среднем. Немного фотографий с дороги.
    </label>
    <div class="text-center">
        <form>
            <div class="slider">

                <input type="radio" name="slide_switch" id="id6" checked /> @*Выбранная по дефолту*@
                <label for="id6">
                    <img src="~/Images/о тур/10.jpeg" width="100" />
                </label>
                <img src="~/Images/о тур/10.jpeg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id7" checked="checked" />
                <label for="id7">
                    <img src="~/Images/о тур/11.jpeg" width="100" />
                </label>
                <img src="~/Images/о тур/11.jpeg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id8" />
                <label for="id8">
                    <img src="~/Images/о тур/12.jpeg" width="100" />
                </label>
                <img src="~/Images/о тур/12.jpeg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id9" />
                <label for="id9">
                    <img src="~/Images/доп/G0071122.jpg" width="100" />
                </label>
                <img src="~/Images/доп/G0071122.jpg" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id10" />
                <label for="id10">
                    <img src="~/Images/доп/IMG-7f4066d7e15d1985888cce9ee7effaef-V.jpg" width="100" />
                </label>
                <img src="~/Images/доп/IMG-7f4066d7e15d1985888cce9ee7effaef-V.jpg" width="634" height="475" />
            </div>
        </form>

    </div>
</div>


<div class="text-center">
    <label>
        Уже вечерело, да и я устал, остановился у знакомых мотоциклистов в Новороссийске,
        скинув вещи, поехал на стелу, думал поймаю удачный кадр на закате.
    </label>
    <img src="~/Images/о тур/13.jpeg" width="634" height="475" />


    <label>
        Хорошенько выспавшись, выехал в обед и буквально через пару тройку часов прибыл в назначенное место, где на берегу меня встретила гора «Ежик».
    </label>
    <img src="~/Images/о тур/14.jpg" width="634" height="475" />


    <label>
        Вот и подошли к конечной моей цели данной поездки это пункт прибытия Новомихайловское, где я уже оставлю свои мотоцикл и не которые вещи у друзей.
        Доехал я туда без приключения, меня тепло встретили. Пришло время подведения итога этого не большого тура.
    </label>
    <div class="text-center">
        <div class="slider">
            <input type="radio" name="slide_switch" id="id11" checked="checked" /> @*Выбранная по дефолту*@
            <label for="id11">
                <img src="~/Images/о тур/15.jpeg" width="100" />
            </label>
            <img src="~/Images/о тур/15.jpeg" width="634" height="475" />

            <input type="radio" name="slide_switch" id="id12" />
            <label for="id12">
                <img src="~/Images/о тур/16.jpeg" width="100" />
            </label>
            <img src="~/Images/о тур/16.jpeg" width="634" height="475" />

            <input type="radio" name="slide_switch" id="id13" />
            <label for="id13">
                <img src="~/Images/о тур/17.jpeg" width="100" />
            </label>
            <img src="~/Images/о тур/17.jpeg" width="634" height="475" />

            <input type="radio" name="slide_switch" id="id14" />
            <label for="id14">
                <img src="~/Images/о тур/19.jpg" width="100" />
            </label>
            <img src="~/Images/о тур/19.jpg" width="634" height="475" />


        </div>
    </div>


    <label style="margin-top:25px">
        В заключение хочу сказать, что это была красочная, увлекательная, не обычная и одна из моих первых поездок.
        Итог поездки:
    </label>
    <ul class="text-left">
        <li>Мотоцикл показал себя достойно, даже в пылевых условиях получилось отремонтировать.</li>
        <li>На будущее не стоить брать с собой много вещей как это сделал я, приносят много не удобств, только самое не обходимое. Все остальное покупается в поездки.</li>
        <li>Делайте осмотр мотоцикла во время остановок, вовремя заметив можно избежать последствий, что меня и выручило.</li>
    </ul>
    <label>
        Всем хороших дорог, не гвоздя и не жезла!
    </label>

    <div>
        <img src="~/Images/о тур/18.jpeg" width="432" height="576" />
    </div>

</div>

<script>
    document.getElementById("id1").click()
    document.getElementById("id6").click()
    document.getElementById("id11").click()


</script>