@{
    ViewData["Title"] = "О мотике";
}



<div class="text-center">
    <div class="slider">
        <input type="radio" name="slide_switch" id="id1" /> @*Выбранная по дефолту*@
        <label for="id1">
            <img src="~/Images/о мотике/1.jpeg" width="100" />
        </label>
        <img src="~/Images/о мотике/1.jpeg" width="576" height="432" />

        <input type="radio" name="slide_switch" id="id2" />
        <label for="id2">
            <img src="~/Images/о мотике/2.jpeg" width="100" />
        </label>
        <img src="~/Images/о мотике/2.jpeg" width="576" height="432" />

        <input type="radio" name="slide_switch" id="id3" />
        <label for="id3">
            <img src="~/Images/о мотике/3.jpeg" width="100" />
        </label>
        <img src="~/Images/о мотике/3.jpeg" width="576" height="432" />

        <input type="radio" name="slide_switch" id="id4" />
        <label for="id4">
            <img src="~/Images/о мотике/4.jpeg" width="100" />
        </label>
        <img src="~/Images/о мотике/4.jpeg" width="576" height="432" />

    </div>
</div>


@* TEXT *@
<div>
    <div id="1" name="enableble" class="text-left">
        <label>
            В 1998 году Honda выводит на внутренний рынок достаточно уникальный байк CL400.
            Эта модель продолжает оригинальные традиции мотоциклов 70-х годов.
            В основе Honda CL400 лежит классическая конструкция.
            Мотоцикл получил стильный ретро-дизайн, при этом является непростым "дорожником".
            Увеличенный клиренс, высокопрофильные шины с глубоким рисунком протектора ставят Honda CL400 в один ряд с представителями мотокасты эндуро.
        </label>
    </div>

    <div id="2" hidden="hidden" name="enableble" class="text-left">
        <label>
            1-цилиндровый двигатель Honda CL400 заводится кикстартером, как классические ретро-мотоциклы.
            Воздушная система охлаждения справляется со своей задачей.
            Предельно простая конструкция подвески с телескопической вилкой спереди и двумя стойками сзади не делает Honda CL400 гоночным мотоциклом и не способствует хорошей управляемости.
            Однако большой ход амортизаторов обуславливает невероятно легкое поведение байка на бездорожье, а легкий вес и специальные шины помогают раскрыть весь потенциал.
        </label>
    </div>

    <div id="3" hidden="hidden" name="enableble" class="text-left">
        <label>
            Конструкция тормозной системы весьма незатейливая: спереди дисковые тормоза, сзади - устаревшие барабанные.
            В России мотоциклы Honda CL400 не очень распространены.
            Модель успешно продавалась только для японских потребителей.
            Многие любят сравнивать CL400 с отечественным ИЖ Планета.
            Эти мотоциклы роднит простая конструкция, высокая надежность и классический ретро-дизайн.
        </label>
    </div>

    <div id="4" hidden="hidden" name="enableble" class="text-left">
        <label>
            Модель ретро-классического мотоцикла Honda CL 400 была представлена в 1997 году на Токийском автосалоне,
            а в серию пошла с 23 сентября 1998 года.
            Концепция модели была достаточно простой - представить рынку мотоцикл с классическими формами,
            отлично подходящий как для города, так и для загородных поездок.
            За основу модели был взят 1-цилиндровый 4-тактный двигатель воздушного охлаждения,
            объемом 397 куб. см., выдающий 29 л.с. мощности и 34 Нм крутящего момента.
            Данный мотор был позаимствован от эндуро Honda XR 400 и немного перенастроен для повышения крутящего момента на низах.
            Из особенностей Honda CL 400 следует отметить стальную дуплексную раму, кик-стартер, систему смазки - сухой картер,
            классические подвески в виде обычной телескопической вилки и двойного амортизатора, задние барабанные тормоза,
            5-ступенчатую КПП и большие спицованные колеса на 19' и 18'. Модель Honda CL 400 предназначалась, в первую очередь,
            для японского рынка, поэтому этот мотоцикл широко представлен на японских аукционах.
            Модель выпускалась вплоть до 2001 года, после чего была снята с производства и заменена
        </label>
    </div>
</div>


<script>
    let el = document.getElementsByName("enableble");

    function enable(id) {
        for (let i = 0; i < el.length; i++) {
            el[i].hidden = true;
        }
        document.getElementById(id).hidden = false;
    }

    document.getElementById("id1").onclick = function () { enable(1) };
    document.getElementById("id2").onclick = function () { enable(2) };
    document.getElementById("id3").onclick = function () { enable(3) };
    document.getElementById("id4").onclick = function () { enable(4) };

</script>