@{
    ViewData["Title"] = "О туре";
}

<div class="tour__content">
    <p class="tour__content-text">
        Здравствуйте, все пользователи, которые посетили мой сайт.
        Меня зовут Кирилл, хочу поделиться с вами о своем небольшом туре, совершенном на мотоцикле Honda CL 400 в 2017 г.
        Отправной точкой, был город Анапа, куда я прибыл на самолете и, довольный с аэропорта, поехал встречать свои мотоцикл и вещи.
        В этом же городе и было выбрано место для первой ночевки в кемпинги. 
        Обустроенное на первой береговой линии, оно давало возможность снять усталость, искупавшись в море, чем я и воспользовался.
    </p>
    <img class="tour__content-img" src="https://sun9-75.userapi.com/impg/02roaTjSRCjefLgUbPM__JNiMBxmn9BVorxIWg/E1-pPWxnUS0.jpg?size=807x605&quality=96&sign=455f72748932f146e2cc8e60e3dd5544&type=album" width="634" height="475" />

    <p class="tour__content-text">
        С раннего утра, набравшись сил и позавтракав, я направился по простроенному маршруту в сторону Крыма, на сегодня была задача преодолеть Керченский пролив по новому мосту, который был не так давно открыт. 
        После обеденного времени я попал в пробку при съезде с моста, но благодаря не большим габаритам и манёвренности мотоцикла, удалось ее объехать ее. 
        Довольным тем, что я выбрался из стоячего потока машин, открыв ручку газа до упора, отправился к ближайшему кафе у дороги, для перекуса.
        Там был проведен осмотр мотоцикла, и выявлена первая и последняя поломка. 
        Благо неподалеку располагалась конюшня, в которой добрый конюх мне выпилил металлическую пластину, игравшую роль фиксатора положения натяжителя.
    </p>
    <img class="tour__content-img" src="https://sun9-63.userapi.com/impg/WdjePeNIS1Q39b1BSqsBvvbHuB0geQ4u3K5kfA/KiH4JSWm1k4.jpg?size=807x605&quality=96&sign=e4758c547ab460ee6ce8b02a035069ee&type=album" width="634" height="475" />

    <p class="tour__content-text">
        Дальнейшее направление было в сторону побережья. 
        Вскоре я преодолевал серпантин на не больших горах, при заходе солнца, так как потерял много времени с поломкой. Увидев берег, я решил ночевать на нем.
    </p>
    <img class="tour__content-img" src="https://sun9-16.userapi.com/impg/XopvCjx0GtpzFWvVXnFwbgeOhUf8W7qU7pXxnA/uHKqYy43aKw.jpg?size=807x605&quality=96&sign=cf65c783d6cf8cdd5d593cc27308ff85&type=album" width="634" height="475" />

    <p class="tour__content-text">
        Утром встав, я узнал, где нахожусь, оказалось, это поселок Приморское.
        А следующая моя отмеченная точка прибытия был город Ялта, что находился в 177 км от меня. Собрав свои вещи и подкрепившись, я выдвинулся. 
        Моя дорога проходила через горы, где повороты, спуски и подъемы не уступали американским горкам. 
        Особенно удивляла ширина дороги и стиль вождения местных людей, что не поддавалось уму. 
        С какой скоростью и точностью они пролетали данные участки дорог.
    </p>
    <img class="tour__content-img" src="https://sun9-73.userapi.com/impg/HEalpv1WYoSBKvwKFK4vbcK1013fy-KhMG-ZAg/ftyQSvQL0lQ.jpg?size=807x605&quality=96&sign=850496e9f58b5408b3ce5f1b83dc90ed&type=album" width="634" height="475" />

    <p class="tour__content-text">
        Казалось, столь не большое расстояние нужно пройти, но по времени оно затянулось, и в Ялту приехал только после полудня.
        Там ждали меня уже мои обустроившиеся родственники. Не сильно уставший, но заряженный видами и острыми ощущениями от дороги, перекусив и сходив в душ, я отправился на прогулку по набережной Ялты.
        Так закончился мой 2 день поездки. 
        На следующий день, сняв с мотоцикла все лишние вещи, было решено съездить в поселок Краснокаменку, который находился неподалеку, где виды, открывавшиеся с него на «Медведь-гору» (Аю-Даг) были прекрасны.
    </p>
    <img class="tour__content-img" src="https://sun9-39.userapi.com/impg/pRfiqrc_3Jc_uUqdULQAujf9Pnx4RS_uzbkzUA/FTbwBN8r6A0.jpg?size=807x605&quality=96&sign=894e4c6e1fa6489372c93a3c5964b5c8&type=album" width="634" height="475" />

    <p class="tour__content-text">
        Там же находились виноградные поля, на которых, не удержавшись, был испробован виноград.
    </p>
    <img class="tour__content-img" src="https://sun9-66.userapi.com/impg/DLhiNuzSg0qjvRZdedRjMWNS04lVpmzQwYi7GQ/8D6JQ2vb_t0.jpg?size=807x605&quality=96&sign=ba2c18d8b87ac8bec1994f26b3ab3846&type=album" width="634" height="475" />

    <div>
        <p class="tour__content-text">
            Ялта не отпускала меня, и я там остался на 4 дня, но в один из дней решил, что надо двигаться дальше увидеть больше мест. 
            И выбрал на карте точку под Севастополем, под названием мыс Фиолент. Дорога туда была уже более спокойная, но все же местами захватывающая.
            Выехав утром, к обеду я был там, и оказался на конечной остановки под названием «Старый маяк», которая ведет до мыса. 
            Дух захватило от высоты и всей той увиденной красоты, и я понял, что это место затянет меня на долго.
        </p>

        <p class="tour__content-text">
            С этой точки я исследовал округи, и заплутал в город Инкерман, в котором находилась очень простая, но уютную бухта.
        </p>

        <p class="tour__content-text">
            Вот и прошло около недели моего пребывания на мысу Фиолент, и дальше мне хотелось побывать в Николаевке (бывший казантип).
            Добрался я туда быстро, не далеко от берега располагался сосновый лес, где и разбил лагерь.
        </p>
    </div>

    @* 0,749211356466877 *@
    <div class="text-center">
        <form>
            <div class="slider">

                <input type="radio" name="slide_switch" id="id1" checked /> @*Выбранная по дефолту*@
                <label for="id1">
                    <img src="https://sun9-46.userapi.com/impg/SCU9Shv5cEh6ev3rHCzXhZ6fsH-vsWzkS3UJJA/GznkQ8zsKM4.jpg?size=810x1080&quality=96&sign=5a4d9812d1098c93ef1f503e6bcba8fd&type=album" width="100" height="70" />
                </label>
                <img src="https://sun9-46.userapi.com/impg/SCU9Shv5cEh6ev3rHCzXhZ6fsH-vsWzkS3UJJA/GznkQ8zsKM4.jpg?size=810x1080&quality=96&sign=5a4d9812d1098c93ef1f503e6bcba8fd&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id2" checked="checked" />
                <label for="id2">
                    <img src="https://sun9-42.userapi.com/impg/ANj2oDSy5dsRa9blimu7bF3PgoDD5jY8gookBg/BxHZXJ6Whj0.jpg?size=512x342&quality=96&sign=50f2bdff88ec90123ee9606244f3292f&type=album" width="100" />
                </label>
                <img src="https://sun9-42.userapi.com/impg/ANj2oDSy5dsRa9blimu7bF3PgoDD5jY8gookBg/BxHZXJ6Whj0.jpg?size=512x342&quality=96&sign=50f2bdff88ec90123ee9606244f3292f&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id3" />
                <label for="id3">
                    <img src="https://sun9-28.userapi.com/impg/dNP26hSCWAFF5koQzxf7IJO0N24rAS3H31sKRA/xpkT51gMu6A.jpg?size=1152x864&quality=96&sign=7b0030552fe5c74c460e395245a0846d&type=album" width="100" />
                </label>
                <img src="https://sun9-28.userapi.com/impg/dNP26hSCWAFF5koQzxf7IJO0N24rAS3H31sKRA/xpkT51gMu6A.jpg?size=1152x864&quality=96&sign=7b0030552fe5c74c460e395245a0846d&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id4" />
                <label for="id4">
                    <img src="https://sun9-21.userapi.com/impg/U8pJY0cQUOqqdyxsR0jLKjSdZ6SKid6Bg5gEHw/Xw8C0ojSA1I.jpg?size=1200x1600&quality=96&sign=6c99fb2a4b4d18c9aab49525b0db1e92&type=album" width="100" height="70" />
                </label>
                <img src="https://sun9-21.userapi.com/impg/U8pJY0cQUOqqdyxsR0jLKjSdZ6SKid6Bg5gEHw/Xw8C0ojSA1I.jpg?size=1200x1600&quality=96&sign=6c99fb2a4b4d18c9aab49525b0db1e92&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id5" />
                <label for="id5">
                    <img src="https://sun9-35.userapi.com/impg/8wcf3eo6wruvjEz_JfYBRBjGlHlQr9ZVUgsHiw/9mJBfPNu4zw.jpg?size=826x618&quality=96&sign=18c31dfe82fb734279dacaa29152a046&type=album" width="100" />
                </label>
                <img src="https://sun9-35.userapi.com/impg/8wcf3eo6wruvjEz_JfYBRBjGlHlQr9ZVUgsHiw/9mJBfPNu4zw.jpg?size=826x618&quality=96&sign=18c31dfe82fb734279dacaa29152a046&type=album" width="634" />
            </div>
        </form>
    </div>


    <label class="tour__content-text" style="margin-top: 16px;">
        Но море уже здесь было не такое теплое и чистое, в этом месте я остался на ночь.
        Поняв, что больше в Крыму меня не интересует ничего, следующая остановка была - Архипо-Осиповка (Краснодарский край), расстояние, не мало не много, 542 км.
        Дорога шла уже по равнине, на прямую через Крым. Выехав рано утром, я даже не мог подумать, что придется доставать теплые вещи, так как солнце еще не встало, а дул хороший ветер. 
        Ближе к обеду я скинул все вещи и остался в шортах и футболке с длинным рукавом. 
        До моста через Керченский пролив была самая шикарная дорога, на ней я крутил свои мотик чуть ли не до отсечки.
        Шел приличные 160 км/ч., в среднем. Немного фотографий с дороги.
    </label>

    <div class="text-center">
        <form>
            <div class="slider">

                <input type="radio" name="slide_switch" id="id6" checked /> @*Выбранная по дефолту*@
                <label for="id6">
                    <img src="https://sun9-62.userapi.com/impg/cVjsan2_lmjUHlPFpC8BKv-ShgS4BYPiyzgpXQ/-cdA6VGDN4Y.jpg?size=1152x864&quality=96&sign=7db44f9cf0db0684df4cb0e7be0a9a13&type=album" width="100" />
                </label>
                <img src="https://sun9-62.userapi.com/impg/cVjsan2_lmjUHlPFpC8BKv-ShgS4BYPiyzgpXQ/-cdA6VGDN4Y.jpg?size=1152x864&quality=96&sign=7db44f9cf0db0684df4cb0e7be0a9a13&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id7" checked="checked" />
                <label for="id7">
                    <img src="https://sun9-38.userapi.com/impg/Xdvx4m3_I-9sGZIDLhmh99pTmSlEH5esDjI4vw/5wBsUPR7raM.jpg?size=1152x864&quality=96&sign=100c8957399fabbb8f40d2e7a60387e8&type=album" width="100" />
                </label>
                <img src="https://sun9-38.userapi.com/impg/Xdvx4m3_I-9sGZIDLhmh99pTmSlEH5esDjI4vw/5wBsUPR7raM.jpg?size=1152x864&quality=96&sign=100c8957399fabbb8f40d2e7a60387e8&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id8" />
                <label for="id8">
                    <img src="https://sun9-27.userapi.com/impg/j0dq4Ebblm9uteo2ofPGRAgV9XAkPU8DpfWviA/1V2zJHdO5pk.jpg?size=1152x864&quality=96&sign=1c6a27f3b56ee91fcadd5d250c8ad80e&type=album" width="100" />
                </label>
                <img src="https://sun9-27.userapi.com/impg/j0dq4Ebblm9uteo2ofPGRAgV9XAkPU8DpfWviA/1V2zJHdO5pk.jpg?size=1152x864&quality=96&sign=1c6a27f3b56ee91fcadd5d250c8ad80e&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id9" />
                <label for="id9">
                    <img src="https://sun9-1.userapi.com/impg/7CAnsGgmzyVhVkkipA4wVxERN_HEWufi1xm7tg/Zm4AHbB36Ow.jpg?size=1280x960&quality=96&sign=39b83d87b2e06e029f73f24d6da54719&type=album" width="100" />
                </label>
                <img src="https://sun9-1.userapi.com/impg/7CAnsGgmzyVhVkkipA4wVxERN_HEWufi1xm7tg/Zm4AHbB36Ow.jpg?size=1280x960&quality=96&sign=39b83d87b2e06e029f73f24d6da54719&type=album" width="634" height="475" />

                <input type="radio" name="slide_switch" id="id10" />
                <label for="id10">
                    <img src="https://sun9-26.userapi.com/impg/2gy9QL5a9pA3PJc3Q8T54ViATILEaEgpjUf9EA/Xm2y4akj6G8.jpg?size=1280x960&quality=96&sign=c00d4e3c34400a4a87ee461839fd8dc5&type=album" width="100" />
                </label>
                <img src="https://sun9-26.userapi.com/impg/2gy9QL5a9pA3PJc3Q8T54ViATILEaEgpjUf9EA/Xm2y4akj6G8.jpg?size=1280x960&quality=96&sign=c00d4e3c34400a4a87ee461839fd8dc5&type=album" width="634" height="475" />
            </div>
        </form>

    </div>
</div>


<div class="text-center">
    <label class="tour__content-text" style="margin-top: 16px;">
        Уже вечерело, да и я устал, остановился у знакомых мотоциклистов в Новороссийске,
        скинув вещи, поехал на стелу, думал поймаю удачный кадр на закате.
    </label>
    <img class="tour__content-img" src="https://sun9-48.userapi.com/impg/xsc7e9o3X5MdECZjs4wucAQn-wToZFnic5w-Ow/rYpESo9c4Rc.jpg?size=1152x864&quality=96&sign=f1a8c32529e7c3c9a144139ea2145e9f&type=album" width="634" height="475" />


    <p class="tour__content-text">
        Хорошенько выспавшись, выехал в обед и буквально через пару тройку часов прибыл в назначенное место, где на берегу меня встретила гора «Ежик».
    </p>
    <img class="tour__content-img" src="https://sun9-64.userapi.com/impg/_N4BxZ9lQh9KBCWayz8ehJA1ocbLPfPsLNShyw/52fN1wVSnHk.jpg?size=1280x740&quality=96&sign=68f0e7bced0e846dc92a615b8761049a&type=album" width="634" height="475" />


    <p class="tour__content-text">  
        Вот и подошли к конечной моей цели данной поездки это пункт прибытия Новомихайловское, где я уже оставлю свои мотоцикл и не которые вещи у друзей.
        Доехал я туда без приключения, меня тепло встретили. Пришло время подведения итога этого не большого тура.
    </p>

    <div class="text-center">
        <div class="slider">
            <input type="radio" name="slide_switch" id="id11" checked="checked" /> @*Выбранная по дефолту*@
            <label for="id11">
                <img src="https://sun9-57.userapi.com/impg/dz5936Fu0qJMFOBsP44uYPFzWRk2FNEyrSsOVg/p0tylYFfxGE.jpg?size=1152x864&quality=96&sign=0dcd19a06e1ad7de1bca7cbd0d7d0dd0&type=album" width="100" />
            </label>
            <img src="https://sun9-57.userapi.com/impg/dz5936Fu0qJMFOBsP44uYPFzWRk2FNEyrSsOVg/p0tylYFfxGE.jpg?size=1152x864&quality=96&sign=0dcd19a06e1ad7de1bca7cbd0d7d0dd0&type=album" width="634" height="475" />

            <input type="radio" name="slide_switch" id="id12" />
            <label for="id12">
                <img src="https://sun9-56.userapi.com/impg/TQA963URR-JzyOk0ryfqaLf1yyFMNaXW-LHmIA/js-TcXReYbc.jpg?size=1152x864&quality=96&sign=d4391ec54f34c3879bbee7beb0429a22&type=album" width="100" />
            </label>
            <img src="https://sun9-56.userapi.com/impg/TQA963URR-JzyOk0ryfqaLf1yyFMNaXW-LHmIA/js-TcXReYbc.jpg?size=1152x864&quality=96&sign=d4391ec54f34c3879bbee7beb0429a22&type=album" width="634" height="475" />

            <input type="radio" name="slide_switch" id="id13" />
            <label for="id13">
                <img src="https://sun9-21.userapi.com/impg/6kqFHwJfN2rpApXLQgK0SoOAUSCr0aSWIactbQ/AxLxIP2dykU.jpg?size=1080x718&quality=96&sign=be61f494d266198b2e8b9a77884a4e09&type=album" width="100" />
            </label>
            <img src="https://sun9-21.userapi.com/impg/6kqFHwJfN2rpApXLQgK0SoOAUSCr0aSWIactbQ/AxLxIP2dykU.jpg?size=1080x718&quality=96&sign=be61f494d266198b2e8b9a77884a4e09&type=album" width="634" height="475" />

            <input type="radio" name="slide_switch" id="id14" />
            <label for="id14">
                <img src="https://sun9-36.userapi.com/impg/7vY18nFw3XT1IL4gcoVl8INV-DLUtPtw-o6wSQ/k1A5fuhV0nE.jpg?size=1152x864&quality=96&sign=f6560001756c968186476cc63ade3784&type=album" width="100" />
            </label>
            <img src="https://sun9-36.userapi.com/impg/7vY18nFw3XT1IL4gcoVl8INV-DLUtPtw-o6wSQ/k1A5fuhV0nE.jpg?size=1152x864&quality=96&sign=f6560001756c968186476cc63ade3784&type=album" width="634" height="475" />


        </div>
    </div>


    <label class="tour__content-text" style="margin-top:25px">
        В заключение хочу сказать, что это была красочная, увлекательная, не обычная и одна из моих первых поездок.
        Итог поездки:
    </label>
    <ul style="width: 850px; margin: 0 auto;">
        <li class="tour__content-text">Мотоцикл показал себя достойно, даже в пылевых условиях получилось отремонтировать.</li>
        <li class="tour__content-text">На будущее не стоить брать с собой много вещей как это сделал я, приносят много не удобств, только самое не обходимое. Все остальное покупается в поездки.</li>
        <li class="tour__content-text">Делайте осмотр мотоцикла во время остановок, вовремя заметив можно избежать последствий, что меня и выручило.</li>
    </ul>
    <p class="tour__content-text" style="text-align: center;">
        Всем хороших дорог, не гвоздя и не жезла!
    </p>

    <div>
        <img src="https://sun9-46.userapi.com/impg/8xlsun68RG50j27zVvxPBmFSnCY4EB19mT6cBA/UINEM8ewTz4.jpg?size=810x1080&quality=96&sign=b49f385da259a7f9bb0a78b27c6869de&type=album" width="432" height="576" />
    </div>

</div>
<footer>
</footer>

<script>
    document.getElementById("id1").click()
    document.getElementById("id6").click()
    document.getElementById("id11").click()


</script>
<script>
    const img = document.querySelector('.bg');
    document.addEventListener('scroll', () => {

        const scroll = window.pageYOffset;
        console.log(window.innerHeight, window.outerHeight)
        if (3000 - scroll >= 0) {
            console.log(window.innerHeight, scroll, 3000 - scroll)
            img.style.transform = `translateY(${scroll / 2}px)`
            img.style.position = 'absolute'
            img.style.bottom = 'inherit'
            img.style.left = 'inherit'
        }
        else {
            img.style.position = 'fixed'
            img.style.bottom = '1000px'
            img.style.left = '0px'
        }

    })
</script>