@{
    ViewData["Title"] = " Ну че народ погнали на мотоциклах нахуй";
}

<div class="text-center">


    <div class="slider">
        <input type="radio" name="slide_switch" id="id1" checked="checked" /> @*Выбранная по дефолту*@ 
        <label for="id1">
            <img src="~/Images/WhatsApp Image 2021-05-15 at 10.39.06.jpeg" width="100" />
        </label>
        <img src="~/Images/WhatsApp Image 2021-05-15 at 10.39.06.jpeg"  width="640" height="320" />

        <input type="radio" name="slide_switch" id="id2" />
        <label for="id2">
            <img src="~/Images/WhatsApp Image 2021-05-15 at 10.39.09.jpeg" width="100" />
        </label>
        <img src="~/Images/WhatsApp Image 2021-05-15 at 10.39.09.jpeg"  width="640" height="320"/>

        <input type="radio" name="slide_switch" id="id3" />
        <label for="id3">
            <img src="~/Images/WhatsApp Image 2021-05-15 at 10.39.10 (3).jpeg" width="100" />
        </label>
        <img src="~/Images/WhatsApp Image 2021-05-15 at 10.39.10 (3).jpeg"  width="640" height="320" />

        <input type="radio" name="slide_switch" id="id4" />
        <label for="id4">
            <img src="~/Images/WhatsApp Image 2021-05-16 at 15.18.07.jpeg" width="100" />
        </label>
        <img src="~/Images/WhatsApp Image 2021-05-16 at 15.18.07.jpeg"   width="640" height="320" />

        <input type="radio" name="slide_switch" id="id5" />
        <label for="id5">
            <img src="~/Images/WhatsApp Image 2021-05-16 at 15.22.45.jpeg" width="100" />
        </label>
        <img src="~/Images/WhatsApp Image 2021-05-16 at 15.22.45.jpeg"   width="640" height="320" />
    </div>


</div>
