@{
    ViewData["Title"] = "Мой опыт";
}

<div class="text-center container">

    <div style="padding-top:16px; padding-bottom:16px" class="img-experience-container">
        <img style="border:solid 2px black" src="https://sun9-39.userapi.com/impg/BoTGwxlzlW4pF2vFN8oqvIRlzi2WsirrhO8eHg/ohbVy2LVtP8.jpg?size=1140x857&quality=96&sign=5759960d790f64025b48109c8dac09e6&type=album"/>
        <img style="border:solid 2px black" src="https://sun9-19.userapi.com/impg/Wc3owUEph_K8g3qJlNr1sCzM5GW2djQUJ1Nhmg/r9KkRocJ_lw.jpg?size=1142x855&quality=96&sign=6be862e4006583523a3e950e3a9e78c4&type=album"/>
    </div>
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Меня зовут Кирилл, купил себе этот байк по нескольким причинам: люблю ездить не только по асфальту, но иногда и по лесным дорожкам и тропинкам.
            В грязи кататься не любитель, да и техника для этого нужна соответсвенная. Резина на 18 задок и 19 передок - дешевая и достаточно хорошего качества.
            Двигатель от XR 400 немного дефорсирован, зато он «вечный». «Скремблер» Honda CL400 (классик с небольшим уклоном под эндуро) меня полностью устраивает.
        </p>
    </div>


    <img style="border:solid 2px black" src="https://sun9-64.userapi.com/impg/Nusq7Bt6sC8562zerNnD4Vtc5OnW0GV0F4ar-Q/yx8hkYcpUBE.jpg?size=1141x848&quality=96&sign=0b06411642c0442cca20c7dba71cb2da&type=album" width="514" height="384"/>
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Гружёный пожитками максимальная скорость легко набирается до 140, удобно ехать 110-120 км в час. Масло не ест.
            Расход бензина Honda CL400 по трассе 4,5 на 100, в городе 5 л.
            Заводится всегда одинаково хорошо, с первого или второго качка, что холодный, что горячий.
        </p>
    </div>


    <img style="border:solid 2px black" src="https://sun9-8.userapi.com/impg/fP-6oV64xciM2TK7DT4hQc27f57ggoa1yUzHeQ/tdO10r6SDzY.jpg?size=1147x857&quality=96&sign=fe4231b148e8ddbecbeb1370dd94daff&type=album" width="571" height="427"/>
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Единственная поломка, которая была, во время тура. И то она была по невнимательности.
            Случилась она после натяжки цепи, не до следил затяжку натяжительной пластины.
            Благо попался под руку добрый мужчина в конюшни, который выпилил металлический квадрат для удержания положения и тур продолжился.
        </p>
    </div>


    <img style="border:solid 2px black" src="https://sun9-10.userapi.com/impg/xMsUNfkoNHXNX7yyQ1qF9FUhHDoZqLqB8G2Gog/Y2B_MGNX64I.jpg?size=688x918&quality=96&sign=9e04e1156f1569745920bf03a945a3ad&type=album" height="530"/>
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Мотоцикл простой как грабли, надежный как лом, нет пластика и соответственно нет проблем с его заменой и ремонтом после падений.
            Всегда есть возможность купить дешевую резину нашего производства - не самая плохая резина.
            В Honda CL400 всё устраивает, менять его не хочу.
            Единственный недостаток - это нет эл. стартера, но это дело привычки.
        </p>
    </div>

    <div class="tour__content-text">

        <div>
            <p class="text-center">ПЛЮСЫ</p>
            <p>
                <ul style="margin: 35px">
                    <li>
                        Универсальность. Едешь по шоссе, съехал на грунтовку, травку, колдобины? Ничего страшного
                    </li>
                    <li>
                        Малый вес. На стоянке я его зад поднимаю и переношу на нужное место.
                    </li>
                    <li>
                        Дешевизна. Если что то случилось, то не жалко
                    </li>
                    <li>
                        Простота обслуживания. АБС? хитрая электроника? Замена ремней ГРМ? Не, не слышал.
                    </li>
                </ul>
            </p>
        </div>
    </div>

    <div class="tour__content-text ">
        <p class="text-center">МИНУСЫ</p>
        <ul style="list-style-type:none; margin: 35px">
            <li>
                Для себя их не выявил, так как знал на какую покупку иду.
                Единственное для кого-то может быть проблема отсутствие электростартера
            </li>
        </ul>
    </div>
</div>
<script>
    document.body.style.height = "3000px";
</script>