@{
    ViewData["Title"] = "Мой опыт";
}

<div class="text-center">

    <div style="padding-top:16px; padding-bottom:16px" class="d-flex">
        <img style="margin-right:20px; border:solid 2px black" src="~/Images/мои опыт/2.jpeg" width="514" height="384" />
        <img style="border:solid 2px black" src="~/Images/мои опыт/1.jpeg" width="514" height="384" />
    </div>
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Меня зовут Кирилл, купил  себе этот байк по нескольким причинам: люблю ездить не только по асфальту, но иногда и по лесным дорожкам и тропинкам.
            В грязи кататься не любитель, да и техника для этого нужна соответсвенная. Резина на 18 задок и 19 передок - дешевая и достаточно хорошего качества.
            Двигатель от XR 400 немного дефорсирован, зато он «вечный». «Скремблер» Honda CL400 (классик с небольшим уклоном под эндуро) меня полностью устраивает.
        </p>
    </div>


    <img style="border:solid 2px black" src="~/Images/мои опыт/3.jpeg" width="514" height="384" />
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Гружёный пожитками максимальная скорость легко набирается до 140, удобно ехать 110-120 км в час. Масло не ест.
            Расход бензина Honda CL400 по трассе 4,5 на 100, в городе 5 л.
            Заводится всегда одинаково хорошо, с первого или второго качка, что холодный, что горячий.
        </p>
    </div>



    <img style="border:solid 2px black" src="~/Images/мои опыт/4.jpeg" width="571" height="427" />
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Единственная поломка, которая была, во время тура. И то она была по невнимательности.
            Случилась она после натяжки цепи, не до следил затяжку натяжительной пластины.
            Благо попался под руку добрый мужчина в конюшни, который выпилил металлический квадрат для удержания положения и тур продолжился.
        </p>
    </div>



    <img style="border:solid 2px black" src="~/Images/мои опыт/5.jpeg" width="576" height="768" />
    @* TEXT *@
    <div id="1" name="enableble" class="text-left">
        <p>
            Мотоцикл простой как грабли, надежный как лом, нет пластика и соответственно нет проблем с его заменой и ремонтом после падений.
            Всегда есть возможность купить дешевую резину нашего производства - не самая плохая резина.
            В Honda CL400 всё устраивает, менять его не хочу.
            Единственный недостаток - это нет эл. стартера, но это дело привычки.
        </p>
    </div>

    <div>
        <div class="tour__content-text" >
            
            <div>
                <p class="text-center">ПЛЮСЫ</p>                 
                <p >
                    Универсальность. Едешь по шоссе, съехал на грунтовку, травку, колдобины? Ничего страшного
                    Малый вес. На стоянке я его зад поднимаю и переношу на нужное место.
                    Дешевизна. Если что то случилось, то не жалко
                    Простота обслуживания. АБС? хитрая электроника? Замена ремней ГРМ? Не, не слышал.
                </p>

            </div>

        </div>

        <div class="tour__content-text ">
            <p class="text-center">МИНУСЫ</p>
            Для себя их не выявил, так как знал на какую покупку иду
            Единственное для кого-то может быть проблема отсутствие электростартера

        </div>
    </div>


</div>
<script>
    document.body.style.height = "3000px";
</script>




