/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    word-break: break-all;
    margin: 0 0 0 30px;
}

body {
    /*    position: relative;*/
    background-color: #444;
}

.custom-container {
    margin: 0 auto;
    padding-bottom: 60px;
    width: 1080px;
    background-color: rgba(255,255,255,0.7);
    backdrop-filter: blur(3px);
}

.custom-header {
    background-color: #444 !important;
    opacity: 0.7 !important;
}

a {
    color: #fff !important;
}


/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    background-color:antiquewhite;
    position: absolute;
    bottom: 0;

    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.ErrorsMessage {
    background: transparent;
    width: 0%;
    position: fixed;
    bottom: 100%;
    font-size: 12px;
    left: 0%;
}

.Shapka {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    margin-left: 50px;
    position: relative;
    top: 50px;
    left: 50px;
}

.bg {
    position: absolute;
    width: 100vw;
    height: 3000px;
    z-index: -1;
    transition: all .05s ease;
}

.bg img {
    backdrop-filter: brightness(100px);
    width: 100%;
    height: 100%;
}


.leftcol {
    padding: 20px 20px;
    display: flex;
    align-items: center;
}

/*.rightcol {
    padding-left: 350px;
}*/

.rightcol .content {
    border-left: 1px solid #ff9900;
}


.ErrorsMessage {
    background: transparent;
    width: 0%;
    position: fixed;
    bottom: 100%;
    font-size: 12px;
    left: 0%;
}

.Chat {
    overflow-y:auto;
    position: static;
    left: 0;
    bottom: 60px;
    background: #dbb9b9;
    margin-left:5%;
    width: 90%;
    max-height: 600px;
}

.ChatItem {
    margin:10px 0 10px 0;
    background: #c9e4f5 !important ;

}

.MsgInput {
    display: inline;
    position: sticky;
    bottom: 0;
    display:flex;

}

@font-face {
    font-family: "Montserrat-Regular";
    font-display: swap;
    src: url("/fonts/Montserrat-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
}

/* Styles */
.tour__content {
    padding: 20px 10px;
}

.tour__content-text {
    font-family: Montserrat-Regular;
    text-align: justify;
    text-indent: 1.5em;
    margin-bottom: 1rem !important;
}

.tour__content-img {
    display: block;
    margin: 0 auto 16px auto;
}
.btnforum {
    display: inline-block;
    border: 1px solid #c9ae34;
    color: #705D07;
    border-radius: 15px 15px 15px 15px;
    -webkit-border-radius: 15px 15px 15px 15px;
    -moz-border-radius: 15px 15px 15px 15px;
    font-family: Verdana;
    width: auto;
    height: auto;
    font-size: 16px;
    padding: 10px 40px;
    box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
    -moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
    -webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
    text-shadow: 0 1px 0 #fff;
    background-image: linear-gradient(to top, #fce374, #fcdf5b);
    background-color: #fce374;
}

    .btnforum:hover, .btnforum:active {
        border: 1px solid #967d09;
        color: #705D07;
        box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
        -moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
        -webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d;
        background-color: #fcdf5b;
    }

