<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Motorcycle</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ImageSlider.css" />
</head>
<body>
    <div class="bg">
        <img src="~/Images/bg60temniy.jpg" alt="Alternate Text" />
    </div>

    <header class="custom-header">
        <nav class="custom-header navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Motorcycle</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="About_Tour">О туре</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="My_Experience">Мой опыт</a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="About_Motorcycle">Галерея моего мотоцикла</a>


                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Forum">Форум</a>

                    if (User.IsInRole("user"))
                    {<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Личный кабинет</a>}

                    else if (User.IsInRole("admin"))
                    { <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Личный кабинет</a>}
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Register">Регнуть</a>
                    <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">Войти</a>
                }


            </div>
        </nav>
        <div class="ErrorsMessage" asp-validation-summary="All"></div>
    </header>
    <div class="container custom-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2021 - Motorcycle - Путешествиия это круто!
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const img = document.querySelector('.bg');
        document.addEventListener('scroll', () => {
            const scroll = window.pageYOffset;
            console.log(img)
            img.style.transform = `translateY(${scroll / 5}px)`
        })
    </script>
</body>
</html>
