@model UserModel
<div>
    <h1  class="text-center">
        Добро пожаловать, дорогой @Model.Name ! 
        <div class="text-center" style="font-size: 22px">
            Приветстую Вас на сайте "Путешествие на мотоцикле Honda CL400"
            Здесь вы можете прочитать историю моего тура, а так же особенности моего железного коня
            После ознакомления вы можете обсудить материал в разделе "Форум"
        </div>
      
    </h1>
</div>

