@model UserModel
<div>
    <h1  class="text-center">
        Добро пожаловать, дорогой @Model.Name ! 
        <div class="text-center" style="font-size: 22px">
           Вы являетесь администратором на сайте "Путешествие на мотоцикле Honda CL400"
           
        </div>
      
    </h1>
</div>

