@model RegisterModel

@{
    ViewData["Title"] = "Регистрация";
}

<form asp-action="Register" asp-controller="Account" asp-anti-forgery="true">
    <div class="text-center">
        <div class="form-group">
            <input autocomplete="off" placeholder="Логин.." type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <input autocomplete="off" placeholder="Пароль.." asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input autocomplete="off" placeholder="Подтвердите Пароль.." asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>

        @* =================================================================== *@

        <div class="form-group">
            <input autocomplete="off" placeholder="Фамилия.." asp-for="Surname" />
            <span asp-validation-for="Surname" />
        </div>
        <div class="form-group">
            <input autocomplete="off" placeholder="Имя.." asp-for="Name" />
            <span asp-validation-for="Name" />
        </div>

        <div class="form-group">
            <input type="submit" style=" display: inline-block;
                   border: 1px solid #92c5eb;
                   color: #705D07;
                   border-radius: 15px 15px 15px 15px;
                   -webkit-border-radius: 15px 15px 15px 15px;
                   -moz-border-radius: 15px 15px 15px 15px;
                   font-family: Verdana;
                   width: auto;
                   height: auto;
                   font-size: 16px;
                   padding: 10px 40px;
                   box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
                   -moz-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
                   -webkit-box-shadow: inset 0 1px 0 0 #fff6ce,inset 0 -1px 0 0 #e3c852,inset 0 0 0 1px #fce88d,0 2px 4px 0 #D4D4D4;
                   text-shadow: 0 1px 0 #fff;
                   background-image: linear-gradient(to top, #92c5eb, #92c5eb);
                   background-color: #92c5eb;" value="Регистрация" />
        </div>

    </div>
</form>
